article.stream-link(id= link._id)
    div.overlay
    div.content
        include meta.jade
        div.preview
            if (link._embedlyExtract)
                include preview.jade
            else
                p fetching preview, please wait
//        ul.tweets
//            for tweet in link._tweets
//                li
//                    include tweet.jade