extends layouts/index.jade

block content
    .row
        if (!user)
            .panel.callout
                p
                    | LinkyList allows you to organize related resources into boards.
                    | Create boards about specific topics that interest you and share them with the world.
                    | Create step-by-step introductions to a topic for newbies,
                    | or create a reference for professionals. It's up to you.
    .row
        .columns.large-9
                .recent-content-preview(data-module="latest-boards")
                    ul.inline-list
                        li
                            strong Recently active boards
                        li
                            a(href="/boards") (browse all)
                        li.newItems.hide
                            a.round.success.label
                                span 0
                                | &nbsp;new
                    ul.latest-boards
                        for board in boards
                            li.board-item
                                include partials/board/boardListItem
        .columns.large-3
                .recent-content-preview
                    ul.inline-list
                        li
                            strong Latest links
                        li
                            a(href="/stream") (browse all)
                    ul.latest-links(data-module="latest-links")
                        for link in links
                            include partials/link/linkListItem
