.row.collapse
    form(action="/boards/link", method="PUT")
        .large-9.small-9.columns
            input(type="text", name="subject", placeholder="paste or write URL of link to add")
        .large-3.small-3.columns
            button.postfix(type="submit") add