* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ddd;
    font-size: 10px; /* 1em / 1rem = 10px */
}

/* mobile defaults first - full-width list items */
.itemholder {
    width: 100%;
    overflow: hidden;
}