/*
 * ITEM CONTENT DEFINITIONS
 * - title
 * - description
 * - full-height image ("col")
 * - full-width image ("row")
 * - half height/width image ("halfcol/halfrow")
 * - small image ("inline")
 *
 * /public/img/inline.jpg
 * /public/img/col-halfrow.jpg
 * /public/img/halfcol-row.jpg
 * /public/img/col-row.jpg
 *
*/

.inline-image-container { display: none; background-repeat: no-repeat; }		
.col-halfrow-image-container { display: none; background-repeat: no-repeat; }
.halfcol-row-image-container { display: none; background-repeat: no-repeat; }
.full-image-container { display: none; background-repeat: no-repeat; } 

/* title, text, no image */
.item.no-image {}

/* title, text, inline image */
.item.inline-image {}
.item.inline-image .inline-image-container {
	display: block;
	float: left;
	height: 50px;
	width: 50px;
	margin: 3px 5px 5px 0; /* margin-top to nudge it slightly under the line-height of the p */
	background: url(/public/img/inline.jpg) no-repeat;
}

/* title, text, halfcol-onerow image */
.item.halfcol-row-image {}
.item.halfcol-row-image .halfcol-row-image-container {
	display: block;
	float: left;
	height: 40%;
	width: 100%;
	background: url(/public/img/halfcol-row.jpg) no-repeat;
}

/* title, text, halfrow-onecol image */
.item.col-halfrow-image {}
.item.col-halfrow-image .col-halfrow-image-container {
	display: block;
	float: left;
	height: 90%;
	width: 30%;
	background: url(/public/img/col-halfrow.jpg) no-repeat;
}
.item.col-halfrow-image .text-container {
	float: left;
	width: 63%;
	margin-left: 10px;
}

/* title, text, full row image */
.item.full-image .full-image-container {
	display: block;
	width: 100%;
	height: 100%;
	background: url(/public/img/col-row.jpg) no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
.item.full-image .text-container {
	display: none;
}
.item.full-image .text-container:after {
	display: none;
}
.item.full-image:after {
	display: none;
}

.item.full-image h3 {
	background-color: rgba(255,255,255, .6);
	position: absolute;
	left: 5px;
	top: 10px;
	border: 5px solid transparent;
	right: 5px;
	padding: 5px;
	z-index: 1;
}