/*
 ***************
 * small screens
 ***************
 */
@media all and (max-device-width: 400px) {
	.itemholder {
		min-height: 100%;
		width: 100%;
	}
	.item {
		width: 100%;
		margin: 0;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: '1collist';
		display: none;
	}
}

/*
 ******************
 * medium / tablets
 ******************
 */
@media all and (min-device-width: 401px) and (max-device-width: 1023px) {
	.itemholder {
		min-height: 100%;
		width: 100%;
	}
	.item {
		width: 49%;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: '2collist';
		display: none;
	}
}



/*
 ******* 
 * ipads
 *******
 */
/* ipad and iphone keep device-width and device-height consistent (height is bigger than width), independently from orientation */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	.itemholder {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	.item {
		height: 33%;
		width: 50%;
		float: left;
		overflow: hidden;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'ipad-portrait2';
		display: none;
	}
}
/* ipad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	.itemholder {
		height: 100%;
		width: 100%;
		overflow: hidden;

	}
	.item {
		height: 50%;
		width: 33.333%;
		float: left;
		overflow: hidden;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'ipad-landscape2wq';
		display: none;
	}
}


/*
 ********* 
 * desktop
 *********
 */
@media all and (min-device-width: 1024px) and (max-width: 400px) {
	.itemholder {
		min-height: 100%;
		width: 100%;
	}
	.item {
		width: 100%;
		height: 150px;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'desktop-1col';
		display: none;
	}
}
/*
 * DESKTOP GRID TO ACCOMODATE RESIZING
 */
@media all and (min-device-width: 1024px) and (min-width: 401px) and (max-width: 600px) {
	.itemholder {
		min-height: 100%;
		width: 100%;
	}
	.item {
		float: left;
		width: 50%;
		height: 200px;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'desktop-2col';
		display: none;
	}
}
@media all and (min-device-width: 1024px) and (min-width: 601px) and (max-width: 850px) {
	.itemholder {
		min-height: 100%;
		width: 100%;
	}
	.item {
		float: left;
		width: 33.333%;
		height: 200px;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'desktop-3col';
		display: none;
	}
}
@media all and (min-device-width: 1024px) and (min-width: 851px) and (max-width: 1100px) {
	.itemholder {
		min-height: 100%;
		width: 100%;
	}
	.item {
		float: left;
		width: 25%;
	}
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'desktop-4col';
		display: none;
	}
}
@media all and (min-device-width: 1024px) and (min-width: 1100px) {
	.itemholder {
		min-height: 100%;
		width: 1100px;
	}
	.item {
		float: left;
		width: 25%;
	}
	
	/* http://adactio.com/journal/5429/ */
	body:after {
		content: 'desktop-4col';
		display: none;
	}
}