/**
 * Base + Utils
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
}

.overlay {
    background: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


body {
    padding: 0;
}

ul {
    list-style: none;
}

/**
 * Layout
 */

.no-js .fallback-menu {
    display: block !important;
}
.js .fallback-menu {
    display: none !important;
}

.profile-link > img {
    width: 2em;
}
.expanded .profile-link > img {
    display: none;
}

.stream {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px;
}

.pagination {
    font-size: 16px;
}
.pagination > a {
    padding: 10px;
}

.recent-content-preview {
    margin: 40px 0 40px 0;
}

.latest-links > li,
.latest-boards > li{
    border-top: 1px solid #ddd;
    padding: 8px 0;
}

.latest-links {}
.latest-links > .link-item {}

.latest-boards {}
.latest-boards > .board-item {}