div.preview
    if (link._embedlyExtract)
        h4
            if (link._embedlyExtract.favicon_url)
                img(src= link._embedlyExtract.favicon_url, style="width: 1em;")
            = link._embedlyExtract.title
        p= link._embedlyExtract.description
    else
        p fetching preview, please wait