!!! 5
- var conditional = '<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--><!--[if gt IE 8]><!-->';
- conditional += '\n<html class="no-js" lang="en"> <!--<![endif]-->';
    !{conditional}
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        title LinkyList
        include ../static-includes/styles.jade
        include ../static-includes/top-scripts.jade

    body.antialiased
        nav.top-bar
            ul.title-area
                li.name
                    h1.subheader
                        a(href="/") LinkList
                li.toggle-topbar.menu-icon
                    a(href="#")
                        span
            section.top-bar-section
                ul.left
                    li
                        a(href="/stream") Recent Links
                    li
                        a(href="/boards") Boards
                ul.right
                    - if (!everyauth.loggedIn)
                        li
                            a(href='/auth/twitter', style='border: 0px')
                                img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
                    - else
                        li
                            a.profile-link(href="#")
                                span.show-for-small Profile
                                img(src= everyauth.twitter.user.profile_image_url)
                        li
                            a(href="/logout") logout

        block content
        include ../static-includes/bottom-scripts.jade