!!! 5
- var conditional = '<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--><!--[if gt IE 8]><!-->';
- conditional += '\n<html class="no-js" lang="en"> <!--<![endif]-->';
    !{conditional}
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        include ../static-includes/styles.jade
        include ../static-includes/top-scripts.jade

    body.antialiased
        nav.top-bar
            ul.title-area
                li.name
                    h1.subheader
                        a(href="/") LinkList
                li.toggle-topbar.menu-icon
                    a(href="#")
                        span menu
            section.top-bar-section
                ul.left
                    li
                        a(href="/stream") Stream
                    li
                        a(href="/stream") And
                    li
                        a(href="/stream") Stuff
        block content
        include ../static-includes/bottom-scripts.jade