!!! 5
html
    head
        include ../static-includes/styles.jade
    body
        header
            h1 LinkLists
            h2 Recently shared links
        block content
        include ../static-includes/scripts.jade