!!! 5
html
    head
        include ../static-includes/styles.jade
    body
        h1 Twitterboards
        h2 Recently shared links
        block content
        include ../static-includes/scripts.jade