form(action="/links", method="POST")
    .large-9.small-9.columns
        input(type="text", name="url", placeholder="paste or write the URL")
    .large-3.small-3.columns
        button.postfix(type="submit") go