li(class="link-item", id= link._id)
    if (link._embedlyExtract && link._embedlyExtract.title)
        a(href= "/links/#{link._id}") !{link._embedlyExtract.title}
    else
        a(href= "/links/#{link._id}") !{link.url}