form(action="/search", method="GET")
    .large-9.small-9.columns
        input(type="text", name="q", placeholder="enter a keyword and search for links")
    .large-3.small-3.columns
        button.postfix(type="submit") find