extends ../layouts/index.jade

block content
    .row
        h2  boards
    .row
        ul.latest-boards
            for board in boards
                li.board-item
                    include ../partials/board/boardListItem