extends ../layouts/index.jade

block content
    .row
        h2 !{board.subject}, by !{board._owner.name}
    .row
        include ../partials/board/link-add-form.jade
    .row
        section.stream.clearfix.res-grid
            - var extraClasses = '.grid-item'
            for link in board._links
                include ../partials/link/link-board-item.jade