extends ../layouts/index.jade

block content
    .row
        .column.clear
            h2.left !{board.subject}&nbsp;
            h2.subheader &middot; a board by !{board._owner.name}

        .column.large-9
            if viewerIsOwner
                .row.collapse
                    include ../partials/board/linkAddForm.jade
            .row.board(data-width="9")
                for link in board._links
                    include ../partials/link/linkBoardItem.jade

        .column.large-3
            h4
                small Links you might be interested in
            div.hide(data-module="related-links")