extends ../layouts/index.jade

block content
    .row
        h2  board
    .row
        include ../partials/board/link-add-form.jade
    .row
        for link in board._links
            include ../partials/link/link.jade