link(rel="stylesheet", type="text/css", href="/css/foundation.css")
link(rel="stylesheet", type="text/css", href="/css/fonts.css")
link(rel="stylesheet", type="text/css", href="/css/temp.css")
link(rel="stylesheet", type="text/css", href="/css/boards.css")
link(rel="stylesheet", type="text/css", href="/css/linkItem.css")
link(rel="stylesheet", type="text/css", href="/css/boardLinks.css")
link(rel="stylesheet", type="text/css", href="/css/gridLinks.css")
link(rel="stylesheet", type="text/css", href="/css/relatedLinks.css")